:root{
    --red: #ee481e;
    --white: #ffff;
    --black: rgb(0, 0, 0);

}
*{
    user-select: none;
}
.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
/* slider style */

.slide-control{
    position: absolute;
    left:14%;
    bottom:10%;
    text-align:center;
}
.slide-item{
 display: none;
}
.dot:hover{
    background-color: #4b4948;
 
}
.dot-active{
    background-color: #4b4948;;
   
}
.caption{
    position: absolute;
    top: 60%;
    left: 34%;
    transform: translate( -50%, -50%);
    text-align: center;
    z-index: 9;
}
.caption h2{
    color: var(--black);
    margin-bottom: 50px;

}


.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: 1px solid black;
  
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease,width 0.6s;
}
.slideshow-container{
    position: relative;
    height: 468px;

}
.bgimg{
height: 100%;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/* slider style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body,html{
    font-family: 'Poppins',sans-serif;

    margin: 0;

}

.statistique{
    margin-top: 30px;
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.sta-element h3{
    font-weight: 100;
}
.sta-element span{
    font-weight: 100;
}
.sta-element .num ,.sta-element span{
    font-size: 170%;
    font-family: 'Poppins',sans-serif;
    margin: 1px;
}

/********************** le form des reclamation */

/* header reclamation */
.head-rec{
    color: white;
    padding: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(180,64,0,1) 35%, rgba(211,88,21,1) 69%, rgba(180,52,0,1) 88%);
}
.head-rec p{
    display: inline;
}
.head-mes{
 
    padding: 20px;
    text-align: center;
}
/* header reclamation end */
.sui{
    text-decoration: none;
    display: inline;
    position: relative;
    text-align: center;
    color: #b44000;
    padding: 7px;
    background-color: white;
}
.sui svg{
    position: absolute;
    top:8px;
}
.lab-form svg{
    color:#b44000; position: absolute; left:6px;
}
.lab-form{
    min-height: 30px;
}
#dvPreview{
margin-left: 10%;
}
.lab-form{
    position: relative;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4b4948;
    display: block;
    background-color: white;
    margin: 12px;
    width: 80%;
    margin-left: 10%;
}

.ti-input{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -12px;
    margin-left: 4px;
    border-radius: 15px;
    background-color: #ffff;
}
textarea:focus,select:focus,input:focus{
    outline: none;
}

.inp-form{
    border: none;
    width: 99%;

}
                    /* progress bar*/
                  
.progressstep{
    position: relative;
   z-index: 1;
    width: 3em;
    height: 3em;
    border: 0.5em solid;
    border-radius: 50%;
    color: #cacacab6;
    padding: 10px;
    background-color: white;
}
.info-per{
    position: relative;
}



.progressbar::after,.progressbar-1::after,.progressbar-2::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 20%;
    width: 30%;
    transform: translateY(-50%);
    height: 4px;
  
}
.progressbar::after{
    background-image: linear-gradient(90deg, #ffffff 13.16%, #b44000 13.16%, #b44000 50%, #ffffff 50%, #ffffff 63.16%, #b44000 63.16%, #b44000 100%);
    background-size: 38.00px 38.00px;
}
.progressbar::before,.progressbar-1::before,.progressbar-2::before{
    position: absolute;
    content: "";
    top: 50%;
    right: 20%;
    width: 30%;
    transform: translateY(-50%);
    height: 4px;
    background-color: rgba(107, 106, 105, 0.63);
   
    
}
.progressbar-1::after,.progressbar-2::before,.progressbar-2::after{
    background-color:#b44000 ;
}
.progressbar-1::before{
    background-image: linear-gradient(90deg, #ffffff 13.16%, #b44000 13.16%, #b44000 50%, #ffffff 50%, #ffffff 63.16%, #b44000 63.16%, #b44000 100%);
    background-size: 38.00px 38.00px;
}
.progressbar,.progressbar-1,.progressbar-2{
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.progresscolor{
    color: #b44000;
    
}

                        /* progress bar end*/
.form{
    padding: 5px;
}
/* .bg-white{
    display: block;
    background-color: white;
    padding: 6px;
    box-sizing: border-box;
    width: 96%;
    text-align: right;
}
.bg-white svg{
     padding: 6px;
} */

#but-stick{
    display: inline-block;
    background-color: #c3581e;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index:199900053;
  }
  #but-stick::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #but-stick:hover {
    cursor: pointer;
    background-color: #333;
  }
  #but-stick:active {
    background-color: #555;
  }
  #but-stick.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  /* .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  } */
  /* @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #but-stick {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  } */
.btn-env{
    
    margin-top: 40px;
    margin-bottom: 40px;
}  
.inp-radio,.btn-env{
    margin-left: 40%;
   }
 
input[type="file"]{
       display: none;
   }

select{
padding: 1em 1.5em;
font-size: 1em;
}

.form-step,.phone,.adresse,.phone1,.adresse1,.sui,.form,.btn-env{
    display: none;
    animation: animate .5s;
}
.form-step-active{
 display: block;
}
@keyframes animate{
    from{
        transform: scale(1, 0);
        opacity: 0;
    }
    to{
        transform: scale(1,1);
        opacity: 1;
    }
}   

/************************ form reclamation end *****************/


.sta-element{
   
    color: white;
    padding: 10px;
    text-align: center;
    width: 22%;
    min-width: 200px;
}
footer{
    color: #ffff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    background: linear-gradient(0deg, rgba(180,64,0,1) 35%, rgba(211,88,21,1) 69%, rgba(180,52,0,1) 88%);
  

}
.sous-footer{
    width: 25%;
    min-width: 235px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.sous-footer a{
    
    display: block;
    color: white;
    text-decoration: none;
    margin: auto;
    transition: color 0.5s ease, margin 0.5s ease;
}
.sous-footer a:hover{
    margin-bottom: 3px;
    color: black;
}
    footer{
        height:20%;
        background: #3d3d3d;
        bottom: 0;
    position: absolute;
    background: #3d3d3d;
    z-index: 99999846;
    }
.active{
    float: left;
    color: var(--red);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding: 12px;
   
}
.active:hover{
    margin-top: 3px;
}
.logo{
    margin-left: 5%;
    width: 10%;
}
.num{
    display: inline-block;
}

.navbar{
    display: flex;
    background-color: transparent;
    /* padding: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    z-index: 99;
    flex-wrap: wrap;
}
.navbar .logo{
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-right a:hover{
    color: #b44301;
}
.navbar-right a:active{
    color:var(--black);
}
.navbar-right a{
  
    transition: color 0.5s ease,margin 0.5s ease;
}
.navbar-right{
    width: 80%;
    position: inherit;
    right: 0;
}
.navbar .icon{
    display: none;
}


.statistiques-elements{
 
    display: flex;
    flex-wrap: wrap;
    background-color: #b44301;
}
.apropos{
    display: flex;
    flex-wrap: wrap;
    font-size: 31px;
    text-align: center;
}
.apropos div{
    width: 40%;
    
}
.aprop-photo img{
    width: 120%;
}
.ic-el{
    height: 50px;
    width: 50px;
    padding: 9px;
    border: 3px solid;
    border-radius: 79px;
    color: #b44000;
}
.cont-el{
    padding-top: 11px;
    width: 50%;
    margin-left: 10px;
}
.st-el h2,.st-el span{
    font-style:italic;
    display:inline-block;
    color: white;
}
.st-el span{
font-size: 170%;
}
.st-el h3{
   margin-top: 0;
    }
.scrolled{
    background-color: white;
}
.st-el{
    width:30%;
    text-align: center;
    text-transform: uppercase;

}
.aprop-content h2{
    color: #b44000;
    

}
.obj-el{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.objectifs{
    background-size: cover;
    
    padding: 20px;
    /* width: 100%; */
    height: 216px
}
.objectifs h2{
 color:#b44000;
 margin-top: -25px;
 font-size: 31px;

}

h2{ 
   
    text-transform: uppercase;}
.o-el{
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 49%;
}
.aprop-content h5,.aprop-content p{
   font-size: 60%;
    

}




.lang{
    position: absolute;
    top: 9px;
    width: 100px;
    right: 12px;
    color: black;
    cursor: pointer;
}

.all-l{
    width: 60%;
    display: none;
    margin-left: -30%;
}
.disp{
    display: block; 
}
.sous-lang{
    display: block;
}
.sous-lang a:hover{
    background-color: #D5D8DC;
}
   
 .sous-lang a{
    transition: background-color 0.5s ease;
    white-space: normal;
    text-decoration: none;
        text-align: center;
        display: block;
        color: black;
        background: linear-gradient(0deg, rgba(245,242,241,1) 0%, rgba(255,183,145,0.5390915959518148) 47%, rgba(255,199,162,0.5608307263865975) 52%, rgba(255,255,255,1) 100%);

        /* background-color: rgba(255, 255, 255, 0.377); */
        border-bottom: 0.1px solid rgba(103, 97, 97, 0.377);      
        padding: 2%;
        width: 100%;
   
    }
.ss-nav a{
        padding: 9px;
        transition:font 0.3s ease-in-out,background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    }
    .ss-nav a:hover{
        color: #b44000;

    }
.services h2{
    width: 100%;
    text-align: center;
}
.services{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sous-serv{
    height: 464px;
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: #4b4948;
    width: 28%;
    min-width: 255px;
    min-height: 200px;
    padding: 10px;
}
.sous-serv:hover{
transform: scale(1.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.sous-serv-ico{
    color: #b44000;
    margin: auto;
    background-color: #ffff;
    border-radius: 80px;
    width: 50px;
    padding: 10px;
}
.sous-serv-cont{
    min-height: 200px;
}
.sous-serv h3{
    color: #ffff;
}
.line{
    margin: auto;
    height: 1px;
    width: 80%;
    background-color: #ffff;
}
.sous-serv-link{
   
    background-color: #b44000;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.sous-serv-link a{
    text-decoration:none ;
}
.sous-serv-link:hover{
    background-color: rgba(205,22,2,1);
}
.contact{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    width: 80%;
}
.contact h2{
    
    color: #b44000;
}
.contact .button a,.btn-env a{
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
    color: #ffff;
    border-radius: 30px;
     border: none;
     font-size: 100%;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    background-color: #b44000;
    transition: background-color 0.5s ease;
}

.contact .button a:hover,.btn-env a:hover{
    background-color: rgb(137, 41, 3);

}
.contact .button{
    padding: 20px;
}

/* navbar not accueil */
nav{
   
    top:0;
   
    z-index: 2;
    background-color: white;
}

.el-haut-contact{
    display: block;
    margin: 10px;
}
.el-nav-acc{
    height: 20%;
    padding: 20px;
    display: block;
    position: relative;
    border: none;
    background-color: white;
}

.el-nav-acc::after{
    position: absolute;
 
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
    right:0 ;
    bottom: 0;
    
    transition: opacity 0.5s;

    background-color:rgb(126 124 123 / 14%);
}
.el-nav-acc:hover::after{
    opacity: 1;
    
}
.nav-acc{
    margin-top: 30px;
    margin-left: 10%;
}
.nav-acc,.haut-contact,.nav-container{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.haut-contact{
    margin: 0;
    padding: 0;
    font-size: smaller;
    position: absolute;
    top: 0;
    right:0;
    color: #9c9c9cc1;
    border-bottom: 0.7px #D5D8DC solid;
}
.logo-nav{

    margin-left: 5%;
}
.logo-f{

    margin-left: -80%;
}

.call{
   
    margin-top: 8px;
  
    background-size: contain;
}
.email{
    margin-top: 8px;
    background-size: contain;
}
.arrow{
    margin-top: 5px;
    background:no-repeat url("images/arrow.svg");
    background-size: contain;
}
#services{
    display: flex;
    width: 100px;
}
.but{
    border: none;
    background-color: white;
}
.dropdown{
    position:relative;
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    background-color: rgb(253, 253, 253);
    left: 2px;
    right: 2px;
    padding:.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.764);;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.active{
   opacity: 1;
}


@media screen and (max-width:600px){
    

    
        
  
    #all-l-l{
        width: inherit;
        left: 13rem;
        position: absolute;
        top: 142px;
    }
    .navbar .menu{
        display: none;
    }
    .navbar .icon{
        display: block;
        position: absolute;
        top: 13px;
        right: 13px;
    }
    .navbar.show{
        background-color: var(--white);
    }
    .navbar.show .menu{
        display: block;
        width: 100%;
        background-color: cornsilk;
    }
    .logo{
        width: 30%;
    }
    .navbar.show .menu a{
        width: 100%;
    }
    .st-el{
        width:100%;
        text-align: center;
        text-transform: uppercase;
    
    }
    .apropos div{
        width: 100%;
        
    }
    .o-el{
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 10px;
    }
    .aprop-photo img{
        width: 100%;
    }
    .objectifs{
        min-height: 865px;
    }
    .cont-el{
        padding-top: 0;
        width: 100%;
        margin: 15px;
    }
    .sta-element{
      margin: auto;
      margin-bottom: 10px;
    }
    .caption{
        top:40%;
        left: 40%;
    }
  
  
}

 /* reclamation soum */
    .q-field--filled .q-field__control {
   
    background: rgb(255 255 255);
    border-radius: 4px 4px 0 0;
    }
    .q-pa-md {
    padding: 0;
    /* padding: 16px 16px; */
    }
   
    .q-field--filled.q-field--focused .q-field__control::before,.q-field--filled{
        opacity: 1;
        background-color: white;
    }
    .q-menu{
        z-index: 1;
    }
    #my-input-searchbox {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    border-radius: 3px;
    border: 0;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    text-overflow: ellipsis;
    padding: 0 1em;
    }
    #map {
    height: 40vh;
    width: 100%;
    }